if SHIELD_FRIENDLY_SPLIT_LEFT

config ZMK_KEYBOARD_NAME
    default "friendlySplit"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_FRIENDLY_SPLIT_LEFT || SHIELD_FRIENDLY_SPLIT_RIGHT

config ZMK_SPLIT
    default y

endif